*.pyc
*.zip
*.pyc
/Files
/Output
/Working
/build
/dist
settings_generator.spec
settings_generator.exe
*.exe
mod_generator.spec
seed_generator.spec
/bld
/Settings
/Settings
create_exes.bat
/lib
/.idea
/.venv
